div > h1 {
    background-color: black;
    color: white;
    padding: 10px 50px;
    text-align: center;
    margin: 0; 
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}

html, body {
    margin: 0; 
}

.head > h2 {
    background-color: rgba(0, 0, 0, 0.959);
    color:rgba(255, 255, 0, 0.916);
    padding: 10px 50px; 
    text-align: center;
    margin: 0; 
    font-family: "Tilt Neon", sans-serif;
    font-weight: 400;
}

body {
    background-color: rgba(0, 0, 0, 0.934);
    background-image: url('./images/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form select {
    flex: 1 1 70%; 
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px; 
    width: 300px;
    font-size: 16px; 
    border-radius: 5px;
    background-color: #555;
    border:black 2px solid;
    color: white;
}

.registration-form select {
    flex: 1 1 45%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#000" d="M5.083 7.083l5.417 5.417 5.417-5.417L17 8.25 10 15.25 3 8.25 5.083 7.083z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    padding-right: 71px;
    padding-left: 120px;
    border-radius: 5px;
    border:black 2px solid;
    color: white;
    
}


.registration-form input[type="submit"] {
    width: 100px;
    background-color: #ffffff;
    color: #000000d5;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
}

.registration-form input[type="submit"]:hover {
    background-color: #e3f02cd0;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.form-container h2{
    margin-left: 190px;
    margin-bottom: 30px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.logo{
    display: inline-block;
    height: 350px;
    width: 350px;
    margin-top: 75px;
    padding: 5px;
}

/* Login page styles */

.login-container {
    max-width: 550px;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 130px;
    font-size: large;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    flex: 1 1 100%; 
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px;
    background-color: #555;
    border: black 2px solid;
    width: 300px;
    margin-left: 130px;
    color: white;
}

.login-form input[type="submit"] {
    flex: 1 1 100%;
    background-color: #ffffff;
    color: #000000d5;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 225px;
    width:100px;
    
}

.login-form input[type="submit"]:hover {
    background-color: #e3f02cd0;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    
}

/* Styling for the link to the register page */
.login-form a {
    color: #ffffff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-container h2{
    margin-left: 120px;
    margin-bottom: 30px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.logo2{
    display: inline-block;
    height: 350px;
    width: 350px;
    margin-top: 5px;
    padding: 5px;
    margin-left: 90px;
}

#mar{
    margin-top: 60px;
}

#reg{
    margin:130px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    text-align: center;
}
a{
    color: rgb(183, 87, 183);
}
